@model Make.Models.Comentario
@{
    ViewData["Title"] = "Home Page";
}


<nav class="navbar navbar-expand-md navbar-dark navbar-custom p-1">
    <div class="collapse navbar-collapse" id="nav-content">
        <ul class="navbar-nav" id="nav-content">
            <li class="nav-item">
                <a class="nav-link" href="/">Library<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Library/GetBooksByGener">Our Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/Login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Bem Vindas</h1>
<p><img src="~/img/ana.png" /></p>
<img src="~/img/curso-maquiagem-2.jpg" />

<img src="~/img/b.jpg" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

